.beer {
  margin: auto;
  display: block;
  margin-top: 30px;
}

body {
  margin: 0;
  position: relative;
}

.input-form {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  max-width: 600px;
  width: 80%;
  align-items: center;
  margin-bottom: 50px;
}

main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0px;
}

@media screen and (max-width: 650px) {
  .input-form {
    flex-direction: column;
  }
  .input-form button {
    margin-top: 20px;
  }
}

a {
  color: #56cdc9;
}

.input-form input {
  width: 100%;
  margin: 0;
  height: 46px;
}

.input-form .btn.is-primary {
  min-width: 240px;
  background: #008800;
  box-shadow: inset -4px -4px #539e38;
}

.white {
  color: white;
}

footer {
  width: 100%;
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  left: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

.container {
  position: relative;
}

.loading {
  margin: auto;
  display: block;
}

.drink {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
  max-width: 500px;
}

.bottom-beer {
  display: flex;
  align-items: center;
}

.lucky {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.lucky i {
  margin-left: 10px;
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
